h1 {
    margin-bottom: 1.25em;
}

#tblEmployees {
    text-align: center;
    width: 100%;
    table-layout: fixed;
}

#tblEmployees td, #tblEmployees th{
     text-align: left;
}

.col-sm{
    width: 65px;
}

.col-md{
    width: 90px;
}
.col-lg{
    width: 155px;
}

.page-content {
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
}

#title {
    color: #337ab7;
    font-size: 1.5vw;
    font-family: 'Times New Roman';
    font-weight: bold;
    text-transform: capitalize;
}

th {
    background-color: #337ab7;
    color: #fff;
}

#Actions, #SNo{
    text-align: center !important;
}

.modal-header {
    background-color: #337ab7;
    color: #fff;
}

#btnShowModal {
    float: right;
}

input[type=text] {
    padding: 0px 5px;
}

.close {
    cursor: pointer;
    font-size: 30px;
}

    .close:hover {
        color: white;
    }

select, input[type="radio"], .sortable {
    cursor: pointer;
}

.right {
    float: right;
}

.center {
    text-align: center !important;
}

.btn {
    font-weight: bold;
}

#ddlDepartmentsfilter {
    width: 70% !important;
}

#ddlAgefilter {
    width: 50% !important;
    padding: 6px 4px !important;
}

#ddlPageSize {
    width: 30% !important;
    padding: 6px 4px !important;
}

.modal-xl {
    width: 60%;
    margin: auto;
}

#search {
    position: relative;
    font-size: 18px;
    padding-top: 40px;
    margin: -20px auto 0;
}

    #search label {
        position: absolute;
        left: 17px;
        top: 51px;
    }